@{ Style.Require("DirectoryNav"); }

@model Bolo.DirectoryNav.ViewModels.DirectoryNavViewModel
@{ Layout.Title = T("Directory navigation").ToString(); }

<div class="bound">
    @foreach (var title in Model.Titles)
    {
        <div class="section information">
            <span class="title">@title.Name</span>
            <ul>
                @foreach (var link in title.LinkRecords)
                {
                    <li><a href="@link.Url" target="_blank">@link.Name</a></li>
                }
            </ul>
        </div>
    }
</div>

